body {
    font-family: $font-default;
     }
    
    
     h1{ text-transform: uppercase;
      color: $dark-blue;
    }
    
    h2 {
      text-transform: uppercase;
     
      color: $purple;
      
    }
    
    h3{
      color: $yellow;
    
    }
    h4{
      font-family: $font-subtitle;
      color: $dark-blue;
    }
    

